In [1]:
d = {1:'abc', 2:'xyz', 3:'pqr'}

In [7]:
for i in d.values():
    print(i)

abc
xyz
pqr

In [2]:
d

{1: 'abc', 2: 'xyz', 3: 'pqr'}

In [3]:
type(d)

dict

In [5]:
d.keys()

dict_keys([1, 2, 3])

In [8]:
v = list(d.values())
v

['abc', 'xyz', 'pqr']

In [10]:
type(v)

list

In [11]:
v[0]

'abc'

In [13]:
_class = {
    'Name' : 'ABC',
    'Year' : '1st',
    'Roll. no.' : '80',
    'Subject' : 'Physics',
         }

In [14]:
k = _class.keys()
k

dict_keys(['Name', 'Year', 'Roll. no.', 'Subject'])

In [10]:
type(k)

dict_keys

In [19]:
kl = tuple(k)
kl

('Name', 'Year', 'Roll. no.', 'Subject')

In [20]:
kl.append('hello')

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
kl = list(k)
kl

['Name', 'Year', 'Roll. no.', 'Subject']

In [17]:
kl[-1]

'Subject'

In [27]:
list(_class.values())[0][-1]

'C'

In [22]:
list(_class.values())[0][-1]

'C'

In [ ]:
e = list(d.keys())

In [6]:
e

[1, 2, 3]

In [7]:
type(e)

list

In [8]:
type(d.keys())

dict_keys

In [9]:
e[0]

1

In [10]:
e[1]

2

In [11]:
e[2]

3

In [12]:
e[3]

IndexError: list index out of range

In [13]:
d.values()

dict_values(['abc', 'xyz', 'pqr'])

In [14]:
f = list(d.values())

In [15]:
f

['abc', 'xyz', 'pqr']

In [16]:
d[1]

'abc'

In [17]:
type(d[1])

str

In [18]:
bool({})

False

In [19]:
bool(d)

True

In [26]:
a = 6

if a > 3:
    print('abc')
elif a < 3:
    print('pqr')
else:
    print('xyz')

abc

In [27]:
b = 4

while b < 10:
    print(b)
    b += 2

4
6
8

In [49]:
lst = range(0, 14, 3)

for k in lst:
    print(k, end=' ')

0 3 6 9 12

In [46]:
list(range(0, 14, 3))

[0, 3, 6, 9, 12]

In [22]:
for i in range(3, 10, 2):
    print(i)

3
5
7
9

In [36]:
for i in ['hi', 'hello', 23, 9.45]:
    print(i)

hi
hello
23
9.45

In [72]:
for k in r:
    print(k)

2
5
8
11

In [74]:
for i in range(0, 13, 4):
    print(i)

0
4
8
12

In [52]:
d = {1:'hi', 2:'hello', 3:'xyz'}

for i in d.values():
    print(i)
    
# d.values()

hi
hello
xyz

In [81]:
for i in 'Python':
    print(i)

P
y
t
h
o
n

In [54]:
r = range(2, 12, 3)
r

# range(include, exclude, step)

range(2, 12, 3)

In [69]:
type(r)

range

In [70]:
tuple(r)

(2, 5, 8, 11)

In [23]:
range(10)

range(0, 10)

In [24]:
list(range(4, 20, 1))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
lst = e
e

[1, 2, 3]

In [26]:
for i in e:
    print(i)

1
2
3

In [27]:
d

{1: 'abc', 2: 'xyz', 3: 'pqr'}

In [28]:
for i in d.keys():
    print(i)

1
2
3

In [29]:
for i in d.values():
    print(i)

abc
xyz
pqr

In [31]:
for i in d:
    print(d[i])

abc
xyz
pqr

In [32]:
for i in [3, 'a', 'xyz', 12, (1, 2, 'abc')]:
    print(i)

3
a
xyz
12
(1, 2, 'abc')

In [33]:
for i in [1, 2, 3, 4]:
    print(i, end='\t')

1	2	3	4

In [89]:
def fun(a):
    a += 'hi'
    return a

In [92]:
f = fun('hello')
f

'hellohi'

In [87]:
type(f)

float

In [104]:
def spl(b):
    return b.split(',')

In [98]:
s = 'Python is easy.'
s

'Python is easy.'

In [101]:
s.split(' ')

['Python', 'is', 'easy.']

In [105]:
spl('hi, i am learning, python')

['hi', ' i am learning', ' python']

In [38]:
s = 'hi, i am here'

In [39]:
s

'hi, i am here'

In [40]:
s.split(',')

['hi', ' i am here']

In [110]:
def shop1():
    money = 3
    return money+1

In [111]:
j = shop1()

In [112]:
type(j)

int

In [113]:
j

4

In [45]:
shop1()

TypeError: shop1() missing 1 required positional argument: 'money'

In [46]:
def shop2():
    return 'hello'

In [47]:
p = shop2()

In [48]:
type(p)

str

In [49]:
p

'hello'

In [50]:
shop2('hi')

TypeError: shop2() takes 0 positional arguments but 1 was given

In [114]:
def shop3(money):
    a = money+1

In [115]:
h = shop3(78)

In [116]:
type(h)

NoneType

In [117]:
h

In [55]:
def shop4():
    print('hello')

In [56]:
g = shop4()

hello

In [57]:
type(g)

NoneType

In [58]:
g

In [118]:
def fun2(x = 3):
    return x*2

In [121]:
y = fun2(5)

In [122]:
y

10

In [123]:
fun2('hello')

'hellohello'

In [129]:
('hi ' + 'hello')*2

'hi hellohi hello'

In [131]:
def add(a = 4, b = 5):
    c = a + b
    return c

In [132]:
add()

9

In [133]:
add(a=8, b=2)

10

In [134]:
add(a=10)

15

In [135]:
add(12, 10)

22

In [68]:
add(12, b = 7)

19

In [69]:
add(a = 7, 34)

SyntaxError: positional argument follows keyword argument (<ipython-input-69-bf64bc0f4c24>, line 1)

In [70]:
add(b = 10, 5)

SyntaxError: positional argument follows keyword argument (<ipython-input-70-90134e59f2aa>, line 1)

In [71]:
help(add)

Help on function add in module __main__:

add(a=4, b=5)

In [139]:
def subt(a, b=4):
    return a-b

In [143]:
subt(6)

2